:root {
    --font-size-s: 16px;
    --font-size-m: 18px;
    --font-size-l: 24px;
    --padding-s: 8px;
    --padding-m: 16px;
    --padding-l: 24px;
    --border-radius: 8px;
    --color-primary: #DEA0A1;
    --color-danger: #DB7372;
    --color-dark-grey: #707070;
    --color-light-grey: #CFCFCF;
    --color-white: white;
    --box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}